{% load static %}

<html>
<head  class="image">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>{% block title %}{% endblock %}</title>

    {% block navbar %} 
        <nav class='navbar'>
            <div class='navbar-outer'>
                <ul class='ul-navbar'>
                    <li class="home"><a href="http://192.168.1.104:8000/home/">Home</a></li>
                    <li class="about"><a href="http://192.168.1.104:8000/about/">About</a></li>
                    <li class="posts"><a href="http://192.168.1.104:8000/cookbook/">Cook Posts</a></li>
                    <li class="create"><a href="http://192.168.1.104:8000/create/">Create</a></li>
                    <li class="admin"><a href="http://192.168.1.104:8000/admin/">Admin</a></li>
                </ul>
            </div>
        </nav>
    {% endblock %}

</head>
<body>

    {% block content%}
    {% endblock %}

</body>
</html>
