{% extends 'base_navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {%block title%}
    Create
    {%endblock%}
    
    {%block content%}
    <form method="post" action="/create/">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Create New</button>
    </form>

    {%endblock%}
</head>
<body>
    
</body>
</html>